{
  "root": true,
  "extends": [
    "ngryman",
    "eslint:recommended",
    "plugin:@typescript-eslint/recommended"
  ],
  "parser": "@typescript-eslint/parser",
  "plugins": ["@typescript-eslint"],
  "rules": {
    "prefer-const": "warn",
    "no-var": "error"
  },
  "overrides": [
    {
      "files": ["test/*"],
      "globals": {
        "describe": true,
        "it": true
      },
      "rules": {
        "@typescript-eslint/no-var-requires": "off"
      }
    }
  ]
}
